/* css/style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    /* background image in static folder */
    background: url(../images/header_background.png) no-repeat center center/cover;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    /* background image in static folder */
    background: url(../images/header_background.png) no-repeat center center/cover;
    color: #fff;
}

footer p {
    margin: 5px;
}

/* media queries */
@media(max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}

pre code {
    display: block;
    background: #000000;
    color: #ffffff;
    padding: 20px;
    overflow-x: auto;
}

/* Style the links */
a {
    text-decoration: none; /* Remove underlines from links */
    color: #000000; /* Set link color */
    margin: 10px; /* Add spacing between the links */
}
  
/* Style the Font Awesome icons */
.fa {
    font-size: 30px; /* Set the size of the icons */
    margin-right: 10px; /* Add spacing between the icon and text (if needed) */
}
  
/* Style individual icons (for specific social media icons) */
.fa-instagram {
color: #bc2a8d; /* Set the color for the Instagram icon */
}
  
.fa-linkedin {
color: #0077b5; /* Set the color for the LinkedIn icon */
}

.fa-github {
color: #333; /* Set the color for the GitHub icon */
}